$yellow: #fffa19;
$red: #E83914;
$green: #7CE859;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.myHeader {
    background-color: $yellow;
    color:black;
    @include margenes(50px, 0px);
}

.myFooter {
    padding: 10px 10px 0 10px;
    @include margenes(50px, 0px);
    background-color: $yellow;
}